body{
    
}

nav{
    height: 100%;
    width: 150px;
    position: fixed;
    background-color: #e8e8e8;
    cursor: default;
    font-weight: bold;
}

nav > header{
    width: 100%;
    padding: 5px;
    text-align: center;
    background-color: #564256;
    color:white;
}

nav > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav > ul > li{
    width: 100%;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

nav > ul > li:hover{
    background: #96939B;
    animation-name: test;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

ul > .danger:hover{
    background-color: #FC814A;
    color:white;
}

@keyframes test {
    from {width: 150px;}
    to {width: 160px;}
}


nav > footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 5px;
    text-align: center;
    color:white;
    background-color: #564256;
}

#Vsebina{
    height: 100vh;
    margin-left: 150px;
    padding: 20px;
}

.dodaj{
    border: 0;
    margin-bottom: 5px;
    background-color: #FC814A;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    min-height: 60px;
    min-width: 150px;
    font-size: x-large;
}

th{
    background-color: #564256 !important;
    color: white !important;
}

td{
    text-align: center;
}

td > button{
    border: 0;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #FC814A;
    border-radius: 5px;
    color: white;
    width: 50px;
}

label{
    width: 125px;
    text-align: center !important;
    margin: 0 !important;
    background-color: #564256;
    margin-right: 10px !important;
    color: white !important;
    font-weight: bold !important;
    border-radius: 5px;
    padding: 7px;
}

#obrazecContainer{
    max-width: 600px;
    margin: auto;
}

